  .imageicon{
    max-width: 150px;
    margin: 0 auto;
    display: block;

}

.center{
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.c-rock-list__title:before {
    position: absolute;
    background-color: #393092;
    content: "";
    height: 2px;
    bottom: 0;
    left: 15px;
    right: 0;
    z-index: 2;
  }
  .c-rock-list__title:after {
    background-color: #393092;
    bottom: 12px;
    content: "";
    height: 2px;
    left: -2px;
    position: absolute;
    transform-origin: bottom;
    transform: rotate(-120deg);
    width: 25px;
    z-index: 1;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.c-rock-list__title {
    font-family: Arial Narrow,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1.6em;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    text-align: center;
    padding: 0 16px 8px 16px;
    margin: 0;
    color: #e40c78;
}
.c-rock-list__title {
    position: relative;
}
.c-rock-list__body {
    position: relative;
    }
    .c-rock-list__body {
    position: relative;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0
  }
  .c-rock-list__body:after {
    position: absolute;
    background-color: #393092;
    width: 2px;
    content: "";
    bottom: 130px;
    right: -1px;
    top: -2px;
    z-index: 1;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list__cta {
    background-color: transparent;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 6px;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list {
    background-color: #ffffff;
    color: #424242;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    }
    *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list__more:after {
    bottom: -12px;
    left: auto;
    right: -5px;
    transform-origin: top right;
    transform: rotate(120deg);
    width: 25px;
  }
  .c-rock-list__more:after, .c-rock-list__more:before {
    background-color: #393092;
    content: "";
    height: 2px;
    position: absolute;
    z-index: 1;
  }
  .c-rock-list__more:after {
    display: ;
    margin-left: 4px;
    content: " \25B6";
    font-size: .5em;
    vertical-align: middle
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
 .c-rock-list__cta {
    background-color: transparent;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 6px;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
.c-rock-list__more:after, .c-rock-list__more:before {
    background-color: #393092;
    content: "";
    height: 2px;
    position: absolute;
    z-index: 1;
}
.c-rock-list__more:before {
    bottom: -10px;
    left: 0;
    right: -4px;
    text-decoration: none;
}
.c-rock-list__more:hover{
    color: black;

}


.navbar-nav li{
	font-size: 1.2em;

	
}
.Line{
	margin-top: -20px;
}
.footer{
	padding: 10px;
	border-top: 1px solid black;
	color: #eeeeee;
	background-color: #000000;
	text-align: center;

}

.blogpost{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	overflow: hidden;
}

#headings:hover{
	color: #0090DB;

}
#nav:hover{
	background-color: black;
}



#heading:hover{
	color: #0090DB;
}

.description{
	color: #868686;
	margin-top: -2px;
}
.description:hover{
        color: #0090DB;

}
.post{
	font-size: 1.1em;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	text-align: justify;


}
.btn-info{
	float: right;
}
.imageicon{
	max-width: 50px;
	margin: 0 auto;
	display: block;

}
.background{
	background-color: #F6F7F9;
}

 .Recently{
    background-color: #F6F7F9;
}
.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}

.center{
	  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.search:hover{
    background-color: white;
}
.col-sm-offset-1{
    margin-top: 280px;
    margin-left: 5px;
}
body{
  background-color: #ffffff;
  font:15px/1.5 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}
/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
a:hover {
   text-decoration:none;
   color: gray;
}
p:hover {
   text-decoration:none;
   color: gray;
}
a{
   text-decoration:none;
   color: #000000;
}

ul{
  margin: 0;
  padding: 0;
}
.submit{
  height: 30px;
  background: #e40c78;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
span .f-header, span .f-para{
  float: right;
}
span .f-header{
}
article a{
  text-decoration: none;color: #ffffff
}
article p{
  padding-top: 10px;
  color: #e40c78;
}
article span{
  padding-top: 80px;
}

/*Header*/
section a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

section ul{
  margin: 0;
  padding: 0;
}
section li{
  margin-top: 20px;
  float: left;
  display: inline;
  padding: 0 0px 0 30px;
}
section li a{
  font-size: 12px;
}
section li a:hover{
  text-decoration: none;
  color: gray;
}
section .navbar{
  margin-top: 0px;
  background: transparent;
  width: 60%;
  float: left;
  border: none;
  margin-left: -60px;

}

section .current a{
  color: #e40c78;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/*Showcase*/
#showcase{
  min-height: 100px;
    object-fit: cover;

}
#newsLetter{
 background: #2b2d32;
  color: #ffffff;
  padding-top: 0px;
  max-height: 54px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
#newsLetter form{
  float: right;
  margin-top: 11px;

}
span #nav{
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-transform: uppercase;
}
form .search{
padding: 1px;
height: 30px;
width: 200px;
color: #000000;
  }
  .imageicon{
    max-width: 150px;
    margin: 0 auto;
    display: block;
}


  .imageicon{
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

.blog_main-header{
    color: #1C2833;
}

.column .col-sm-3{
    width: 67% !important;
}

.container nav{
    margin-top: 75px;
}

.container nav .page__number{
    background-color: #e40c78;

}
.container nav .page__link{
color: #1C2833;

}
.container nav .page__number:hover{
    background-color: gray;
}




