body{
  background-color: #e3e5f8;
  font:15px/1.5;
  padding: 0;
  margin: 0;
}
/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
a:hover {
   text-decoration:none;
   color: #1B2532;
}
p:hover {
   text-decoration:none;
}
a{
   text-decoration:none;
   color: #000000;
}

ul{
  margin: 0;
  padding: 0;
}
.submit{
  height: 38px;
  background: #e40c78;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
span .f-header, span .f-para{
  float: right;
}
span .f-header{
}
article a{
  text-decoration: none;color: #ffffff
}
article p{
  padding-top: 10px;
  color: #e40c78;
}
article span{
  padding-top: 80px;
}

/*Header*/
section a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

section ul{
  margin: 0;
  padding: 0;
}
section li{
  margin-top: 7px;
  float: left;
  display: inline;
  padding: 0 0px 0 30px;
}
section .navbar{
  margin-top: 5px;
  background: transparent;
  width: 60%;
  float: left;
  border: none;
  margin-left: -60px;
  min-height: 10%;

}

section .current a{
  color: #e40c78;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/*Showcase*/
#showcase{
  min-height: 100px;
    object-fit: cover;

}
#newsLetter{
 background: #2b2d32;
  color: #ffffff;
  padding-top: 0px;
  min-height: 10px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  height: 10%;
}
#newsLetter form{
  float: right;
  margin-top: 5px;

}
span #nav{
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
}
form .search{
padding: 4px;
height: 38px;
width: 200px;
color: #000000;
  }
  .imageicon{
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

article{
  background-color: #2b2d32;
  width: 50%;
  color: #ffffff;

}
.container .main-post{
  list-style-type: none;

}
.container .main-post .card{
min-height: 250px;
}
.container .card{
  width: 59.8%;
  background-color: #2b2d32;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;

}
.container .card-header{
  margin-bottom: 20px;
}
.container .card-header img{
  width: 100%;
  max-height: 350px;
}
.container .card-body a{
  text-decoration: none;
  color: #ffffff;

}
.container .card-text{
  margin-left: 10px;

}
.art-post-one{
  width: 59.8%;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
}

.art-post-one img{
  width: 100%;
  max-width: 789px;
  margin-left: 0px;
  padding-left: 0px;
}


.art-post-two{
  width: 40%;
  float: right;
  margin-top: 5px;
  max-width: 700px;
  height: auto;
}
.art-post-two img{
  width: 40%;
  max-width: 900px;
  height: auto;float: left;
}
.art-post-three{
  width: 40%;
  float: right;
  margin-top: 5px;
  
}
.art-post-three img{
  width: 40%;
  max-width: 900px;
  height: auto;float: left;
}
.art-post-five{
  width: 40%;
  float: right;
  margin-top: 5px;
  margin-bottom: 2px;
}
.art-post-five img{
  width: 40%;
  max-width: 900px;
  height: auto;float: left;
}
  .main-row:after {
  content: "";
  display: table;
  clear: both;

}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.main-column {
  float: left;
  width: 60%;
  padding: 10px;

  float: left;
  margin: 5px;
  margin-left: 30px;
   /* Should be removed. Only for demonstration */
}

/* Create two equal columns that floats next to each other */
.aside-column {
  float: left;
  width: 30%;
  padding: 10px;
  float: right;
  margin: 5px;
  margin-right: 30px;
   /* Should be removed. Only for demonstration */
}




.main-blog-area .big-card{
  width: 19.5%;
  float: left;
  margin-left: 5px;
  margin-top: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid gray;
  


}

.main-blog-area .card h2{

font-size: 18px;
color: #2b2d32;
}
.main-blog-area .card p{
  color: #ababad;
  font-size: 8px;
  margin: 5px;
}
.main-blog-area .big-card{
  width: 45%;
  background-color: #ffffff;
  margin-top: 10px;
  margin-left: 20px;
  padding: 0;
border-right: 1px solid #ababad;
border-left: 1px solid #ababad;
border-bottom: 1px solid #ababad;
}
.main-blog-area .big-card .big-header{
  font-size: 14px;
  margin-top: 0px;
  text-transform: uppercase;
}
.main-blog-area .big-card h2{
margin: 0;
padding: 0;
font-size: 25px;

}
.main-blog-area .big-card p{
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #e40c78;

}
.main-blog-area .big-card img{
  max-height: 430px;
}

.main-blog-area .big-card img{
  width: 100%;
}

.blog_main-post{
  width: 100%;
  margin-left: 22px;

 
}

.blog_main-post .blog_item-post{
  padding-top: 10px;
  width: 100%;
  clear: both;
  display: block;
 border-top: 1px solid rgb(229, 229, 229);
    
}
.blog_main-post .blog_item-post .blog_item-images{
  float: left;
  width: 25%;
  max-height: 670px;
}

.blog_main-post .blog_item-post .blog_item-image{
width: 100%;
max-height: 570px;
}
.blog_main-post h1{
  font-size: 18px;
  margin: 0px;
}
.blog_main-post .blog_item-post .blog_main-header{

    color: #1C2833;

}
 .blog_main-post .blog_item-post span{
  margin-left: 8px;
}
.blog_main-post .blog_item-post #Published{
    color: #e40c78;

}
.blog_main-post .blog_item-post #comments{
    color: gray;
    margin-left: 0px;

}
div .btn_post{
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 20%;
  float: right;
}
 .look_more-post{
  text-decoration: none;
  color: #ffffff;
  background-color: #e40c78;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
    }


    .main-blog-area .main-blog .main-post li .main-post-data a{
 float: left;
 width: 19.5%;
 margin-left: 4px;
 height: 340px;
}
.main-blog-area .main-blog .main-post li .main-post-data a img{

  width: 100%;
      box-shadow: 1px 1px 1px 1px #D1D1D1;

}
.main-blog-area .main-blog .main-post li .main-post-data a img:hover{
    box-shadow: 2px 2px 2px 2px #D1D1D1;
    
}













.post-two, .post-three, .post-four, .post-five article{
  max-height: 310px;
}

.post-one{
  width: 19.6%;
  float: left;
  margin-top: 15px;
  margin-bottom: 5px;
  max-width: 700px;
  height: auto;
}
.post-one img{
  width: 100%;
  max-width: 900px;
  height: auto;float: left;
}
.post-two, .post-three, .post-four, .post-five{
  width: 19.6%;
  height: 50px;
  float: left;
  margin-top: 15px;
  margin-bottom: 5px;
  max-width: 700px;
  height: auto;
  margin-left: 5px;
}
.post-two img, .post-three img, .post-four img, .post-five img{
  width: 100%;
  max-width: 500px;
  height: auto;
  float: left;
  max-height: 140px;

}


.center{
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.c-rock-list__title:before {
    position: absolute;
    background-color: #393092;
    content: "";
    height: 2px;
    bottom: 0;
    left: 15px;
    right: 0;
    z-index: 2;
  }
  .c-rock-list__title:after {
    background-color: #393092;
    bottom: 12px;
    content: "";
    height: 2px;
    left: -2px;
    position: absolute;
    transform-origin: bottom;
    transform: rotate(-120deg);
    width: 25px;
    z-index: 1;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.c-rock-list__title {
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1.6em;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    text-align: center;
    padding: 0 16px 8px 16px;
    margin: 0;
    color: #e40c78;
}
.c-rock-list__title {
    position: relative;
}
.c-rock-list__body {
    position: relative;
    }
    .c-rock-list__body {
    position: relative;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0
  }
  .c-rock-list__body:after {
    position: absolute;
    background-color: #393092;
    width: 2px;
    content: "";
    bottom: 130px;
    right: -1px;
    top: -2px;
    z-index: 1;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list__cta {
    background-color: transparent;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 6px;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list {
    background-color: #ffffff;
    color: #424242;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    }
    *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  .c-rock-list__more:after {
    bottom: -12px;
    left: auto;
    right: -5px;
    transform-origin: top right;
    transform: rotate(120deg);
    width: 25px;
  }
  .c-rock-list__more:after, .c-rock-list__more:before {
    background-color: #393092;
    content: "";
    height: 2px;
    position: absolute;
    z-index: 1;
  }
  .c-rock-list__more:after {
    display: ;
    margin-left: 4px;
    content: " \25B6";
    font-size: .5em;
    vertical-align: middle
  }
  *, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
 .c-rock-list__cta {
    background-color: transparent;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 6px;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
.c-rock-list__more:after, .c-rock-list__more:before {
    background-color: #393092;
    content: "";
    height: 2px;
    position: absolute;
    z-index: 1;
}
.c-rock-list__more:before {
    bottom: -10px;
    left: 0;
    right: -4px;
    text-decoration: none;
}
.c-rock-list__more:hover{
    color: black;

}


.navbar-nav li{
  font-size: 1.2em;

  
}
.Line{
  margin-top: -20px;
}
.footer{
  padding: 1px;
  border-top: 1px solid black;
  color: #eeeeee;
  background-color: #000000;
  text-align: center;

}

.blogpost{
  background-color: #f5f5f5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  overflow: hidden;
}

#headings:hover{
  color: #0090DB;

}
#nav:hover{
  background-color: black;
}



#heading:hover{
  color: #0090DB;
}

.description{
  color: #868686;
  margin-top: -2px;
}
.description:hover{
        color: #0090DB;

}
.post{
  font-size: 1.1em;
  text-align: justify;


}
.btn-info{
  float: right;
}
.imageicon{
  max-width: 50px;
  margin: 0 auto;
  display: block;

}
.background{
  background-color: #F6F7F9;
}

 .Recently{
    background-color: #F6F7F9;
}
.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}

.center{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.search:hover{
    background-color: white;
}
.col-sm-offset-1{
  margin: 0px;
  padding: 0px;
    margin-top: 9px;
    margin-bottom: 15px;
    width: 64%;
  float: right;
  font-style: italic;
}
.btn-more-p{
    background-color: #e40c78;
    color: #ffffff;
    padding: 8px;
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 200px;
    text-decoration: none;

   }
 #footer-area{
    padding: 90px 0 60px 0;
    background: #000;
    color: #fff;

}
.footer-social{
    margin-top: 20px;

}
.single-footer h3{
    font-weight: 500;
    margin-bottom: 25px;
    color: #fafafa;
}
.link-area li{
  padding: 5px 5px 5px;
  list-style: none;
}
.link-area li a{
  text-transform: capitalize;
  color: #fff;
}

.link-area li a i{
  margin-right: 10px;
  color: #e40c78;
}
.link-area{
  padding: 0;
}
.single-footer p{
}
.footer-social li a{
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #000;

}

.footer-social li a i{
  color: #e40c78;
  padding: 8px;
}
.widget li{
  float: left;
  width: 50%;
}
.copyright-area{
  background: #262626;
  padding: 10px 0;
  margin-top: 30px;
  border-radius: 5px;
  margin-bottom: -59.9px;
  border-right: none;border-left: none;-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;

}
.copyright-area p{
  font-weight: 600;
  color: #e40c78;
  margin-top: 20px;
}
.copyright-header{
  background: #000;
  padding: 30px 0;
  margin-top: 1px;
  border-radius: 5px;
}
.copyright-header p{
  font-weight: bold;
  color: #e40c78;
  font-size: 80px;
}
.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  width: 18em;
  margin-left: -152px;
}

 .search-box:hover > .search-text{
width: 240px;
padding: 0 6px;
}

.search-btn{
  color: #e40c78;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.search-text{
  border:none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  margin-top: 8px;
  width: 0px;
  background: #2f3640;
  border-radius: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

  @media only screen and (max-width: 360px) {
    
        
    .main-blog-area .main-blog .main-post li .main-post-data a{
          width: 100%;

        }
    .container .main-blog .main-post-data .horizontal-post{
      height: 50%;
      width:10%;
}
.main-blog-area .main-post .main-post-data h1{
float: right;
}

.main-blog-area .main-post .main-post-data p{
  float: right;
}
}

  @media only screen and (min-width: 361px) and (max-width: 836px) {
    
        
    .main-blog-area .main-blog .main-post li .main-post-data a{
          width: 100%;
          float: left;
          
          max-height: 150px;

        }
    .container .main-blog .main-post-data .horizontal-post{
      height: 55%;
      width:40% !important;
      float: left;
}
.main-blog-area .main-post .main-post-data h1{
margin: 0;
width: 58%;
float: right;
}

.main-blog-area .main-post .main-post-data p{
  width: 50%;
  float: right;
}
}

@media only screen and (min-width: 472px) and (max-width: 836px) {
      .container .main-blog .main-post-data .horizontal-post{
      height: 85%;
      width:30% !important;
      float: left;
}

.main-blog-area .main-post .main-post-data h1{
margin: 0;
width: 58%;
float: left;
margin-left: 10px;
}


.main-blog-area .main-post .main-post-data p{
  width: 50%;
  float: left;
  margin-left: 10px;
}
}



