body{
	background-color: #e3e5f8;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #172734; 
}

.img_st-_{
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.navbar{
	 border-bottom: 3px solid #172734;
	 background-color: #2E2E2E;
}
.navbar-brand{
	background-color: #FF9900;
}
.nav-item{
color: #ffffff;

}
.nav-web{
	text-transform: uppercase;
  font:17px/1.5 'Times New Roman', Times, serif;
	font-weight: 400;
	 letter-spacing: -1px;
	    z-index: -1;

}

.nav-link{
	font-size: 17px;
	font-weight: bold;

}
.btn-success{
	background-color: #e40c78;
}
#case{
	box-shadow: 1px gray;
	box-shadow: 0 1px 1px 0.5px gray;
	border:none;
	border-radius: 0px;
}
#card_link{
	text-decoration: none;
	
}
h4{

  font:20px/1 'Times New Roman', Times, serif;
  text-transform: lowercase;
}
.card-text{
	height: 70px;
}
#text_p{
	font-size: 10px;
	padding-bottom: 7px;
	color: #172734;


}
.img-fluid{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#header{
	font-size: 10px;
}

